/* button search */
.search-box {
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.5s ease;
  border-radius: 10px;
}
.search-box.open {
  width: 20%;
}

.search-input {
  width: 100%;
  height: 100%;
  border: none;
  background: #fff;
  color: #000;
  padding: 5px 42px 5px 15px;
  font-size: 16px;
  border-radius: 10px;
  outline: 0;
}

.search-btn {
  background-color: #fff;
  color: #333;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 24px;
}

/* ////////////////////////////////////header//////////////////////////////////// */
#header {
  position: fixed;

  width: 100%;
  height: 64px;
  background-image: linear-gradient(to top, pink, rgb(180, 180, 180));
}

#nav,
.subnav {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}

#nav li {
  display: inline-block;
}

#nav > li > a {
  padding: 0 18px;
  line-height: 64px;
}

#nav > li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#nav .subnav {
  display: none;
  position: absolute;
  width: 120px;
  min-height: 115px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.subnav li {
  width: 100%;
  line-height: 64px;
  padding: 0 18px;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav li:hover {
  width: 100%;
  color: #000;
  background-image: linear-gradient(to left, pink, rgb(180, 180, 180));
}

#slider {
}

#slider .slider-img img{
  width: 100%;
}

#slider .text-content{
  position: relative;
  bottom: 200px;
  text-align: center;
  color: #000;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0 0 2px #fff;
}

#slider .text-content__header {
  font-weight: 500;
  font-size: 32px;
}

#slider .text-in-img {
  font-size: 15px;
  margin-top: 15px;
}

